src/schemasAndXML/reportSchema.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
<xs:element name="reports">
  <xs:complexType>
    <xs:sequence>
	<xs:element name="report">
	  <xs:complexType>
	    <xs:sequence>
	    <xs:element name="type" minOccurs="1" maxOccurs="1"/>
	    <xs:element name="executionTime" minOccurs="1" maxOccurs="1"/>
	   <xs:element name="exeptionName" minOccurs="1" />
	   <xs:element name="exeptionMessage" minOccurs="1" />
	   <xs:element name="exeptionStackTrace" minOccurs="1" />
	    </xs:sequence>
	  </xs:complexType>
	  </xs:element>
	 </xs:sequence>
	 </xs:complexType>
	 </xs:element>
</xs:schema>